@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.app{
   background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='2' fill='%239C92AC' fill-opacity='0.3'/%3E%3C/svg%3E");
 height:100%;
 width: 100%;
 object-fit: cover;
 background-color: black;
 color: white;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 scroll-behavior: smooth;
}

/* تصغير المسافات في التايم لاين بالكامل */
.vertical-timeline {
  padding: 0 !important;
  margin: 2rem auto !important; /* تقدر تتحكم في الـ margin اللي فوق وتحت براحتك */
}

/* لو عاوز كمان تشيل الـ padding الداخلي لكل عنصر */
.vertical-timeline-element {
  margin: 1em 0 !important;
}